@model IEnumerable<Kongre_Online_Mini.MVC.Models.YorumTuru>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Sekreterya.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YorumTuruAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YorumTuruAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YorumTuruId }) |
            @Html.ActionLink("Details", "Details", new { id=item.YorumTuruId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YorumTuruId })
        </td>
    </tr>
}

</table>
