@model Kongre_Online_Mini.MVC.Models.Teklif

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Sekreterya.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teklif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oturum.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oturum.Konu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.isim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
